<div class="action-button shadow animate blue" {{action "showBoxSpinner"}}>Show Box Spinner </div>
<select id="soflow" class="box-select">
  {{#each types as |type|}}
    <option value={{type.id}} selected={{type.selected}}>{{type.label}}</option>
  {{/each}}
</select>
<span>Timeout</span>
{{input value=timer class="input-txt"}}
<div class="spinner-box">
  {{ember-cli-spinner id="box" bgColor="transparent"}}
</div>
